<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kimjoohe.myboard.mapper.BoardMapper">

    <insert id="boardInsert" parameterType="kimjoohe.myboard.domain.BoardVO">
        insert into board_pro
            values
        (#{bno},#{subject},#{content},#{writer},now(),0)
    </insert>


    <select id="boardList" resultType="kimjoohe.myboard.domain.BoardVO">
        select * from board_pro order by bno desc
    </select>

    <select id="boardView" resultType="kimjoohe.myboard.domain.BoardVO" >
         select * from board_pro where bno = #{bno}
    </select>

    <update id="boardUpdate" parameterType="kimjoohe.myboard.domain.BoardVO">
        update board_pro set subject = #{subject}, content = #{content}
        where bno = #{bno}
    </update>

    <delete id="boardDelete" parameterType="int">
        delete from board_pro where bno = #{bno}
    </delete>

    <select id="boardSearch" parameterType="map" resultType="kimjoohe.myboard.domain.BoardVO">
        select * from board_pro

        <choose >
            <when test="search_option == 'all'">

                where writer like CONCAT('%',#{keyword},'%') order by bno desc
                or subject like CONCAT('%',#{keyword},'%') order by bno desc
                or content like CONCAT('%',#{keyword},'%') order by bno desc
            </when>
            <otherwise>
                where ${search_option} like CONCAT('%',#{keyword},'%') order by bno desc
            </otherwise>
        </choose>
    </select>

    <update id="boardHit" parameterType="int">
        update board_pro set hit = hit + 1 where bno = #{bno}
    </update>



</mapper>