<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            </thead>
            <tbody>
            <form action="/update" method="post">


                <tr>글 번호: <input type="number"  th:value="${board.bno}" id="bno" name="bno" readonly/></tr>
                <tr>작성자: <input type="text" th:value="${board.writer}" readonly/></tr>
                <tr>조회수: <input type="text" th:value="${board.hit}" readonly> <br></tr>
                <tr>글 제목: <input type="text" th:value="${board.subject}" id="subject" name="subject" readonly/><br></tr>
                <tr>날짜: <input type="text" th:value="${board.reg_date}" readonly/><br></tr>
                <tr><label for="content">내용: </label><br></tr>
                <tr><textarea th:text="${board.content}" id="content" name="content"  rows="10" maxlength="2048"  style="width: 80%" readonly></textarea><br></tr>
                <a th:href="@{/board}"><button type="button" >목록</button></a>
                <button th:if="${session.id == board.writer}" type="submit">수정</button>
                <a th:if="${session.id == board.writer}" th:href="@{/delete(bno=${board.bno})}"><button type="button">삭제</button></a>

            </form>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>